<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>registrar</title>
</head>

<body>

    <form method="post" action="/api/registrar" class="tela-login">

        <input type="text" placeholder="Usuário" name="usuario">
        <br><br>
        <input type="password" placeholder="Senha" name="senha">
        <br><br>
        <button>
            <a href="login">Criar Conta</a>
        </button>

    </form>

</body>

</html>